*{
    margin: 0;
    padding: 0;

}

body{
    font-family: sans-serif;
    background-color: white;
    overflow-x: hidden;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -3px;
    left: 0;
    background-color: gray;
}
nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    /* padding: 20px 0; */
    height: 80px;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 20%;
    margin-top: 10px;
    /* background-color: red; */
}
#button{
    display: flex;
    justify-content: end;
    justify-content: space-evenly;
    margin-right: -100px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: gray;
    padding: 5px 8px;
    border-radius: 5px;
    
}

/* hamburger menu */
.menu-toogle{
    display: none;
    flex-direction: column;
    height: 20px;
    background-color: black;
    justify-content: space-between;
    position: relative;
}

.menu-toogle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -2px;
    opacity: 0;
    cursor: pointer;
}

.menu-toogle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}



/* Hamburger menu animation */



/* Responsive Breakpoint */

/* ukuran tablet */

@media screen and (max-width: 768px){
    nav ul{
        width: 30%;
        margin-right: 20px;
        margin-left: -25px;
        
    }
    .logo img{
        width: 95px;
        margin-left: -25px;
    }
}
@media screen and (max-width: 1024px){
    nav ul button{
        margin-right: 30px;
    }
}
@media screen and (max-width: 768px){
    nav ul button{
        margin-left: -40px;
    }
}
@media screen and (max-width: 768px){
    #button{
        justify-content: space-evenly;
        margin-left: -55px;
    }
}
@media screen and (max-width: 1280px){
    nav {
        width: 100%;
    }
}
@media screen and (max-width: 1536px){
    nav {
        width: 100%;
    }
}
/* ukuran mobile */

@media screen and (max-width: 640px){
    .menu-toogle{
        display: flex;
        margin-left: auto;
        margin-right: 40px;
        
    }
    form #label{
        margin-top: -100px;
        color: red;
        margin-left: ;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 10px;
        height: 40vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-self: center;
        background-color: white;
        z-index: -1;
        transform: translateX(100%);
        transition: all 0.5s;
        opacity: 0;
        
        
    }

    nav ul.slide{
        opacity: 1;
        transition: all 0.5s;
        transform: translateX(0);
        margin-left: 10px;
        margin-top: 80px;
        margin-bottom: 15px;
        width: 97%;
        right: 0;
        
    }
    .logo img{
        width: 70px;
        margin: 0 50px;
        
    }
}

/* ukuran large */


/* .image{
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.285));
} */

